<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/examples.css' />
  </head>
  <body>
  	<div id="container">
      <h1>Examples</h1>
      <ul>
        <li><a href="/examples/hello">Hello World</a></li>
        <li><a href="/examples/hello-2">Hello World Version 2</a></li>
        <li><a href="/examples/user-info">User Info</a></li>
        <li><a href="/">Tic Tac Toe</a></li>
      </ul>
    </div>
  </body>
</html>
