<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/react-with-addons.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>

    <link rel='stylesheet' href='/stylesheets/examples.css' />
  </head>
  <body>
    <div id="example"></div>

    <script type="text/jsx">
      var HelloWorld = React.createClass({
        render: function(){
          return (
            <h1>Hello, world!</h1>
          );
        }
      });

      React.render(
        <HelloWorld />,
        document.getElementById('example')
      );
    </script>
  </body>
</html>