<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="javascripts/react-with-addons.js"></script>
    <script src="javascripts/JSXTransformer.js"></script>
  </head>
  <body>
  	<div id="container">
    	<h1><%= title %></h1>
    	<div id="example"></div>
	    <script type="text/jsx">
	      React.render(
	        <h1>Hello, world!</h1>,
	        document.getElementById('example')
	      );
	    </script>
    </div>
  </body>
</html>
